* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    background: white;
}

th {
    background: #6a1b9a;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.positive {
    color: green;
}

.negative {
    color: red;
}