* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.card-conteiner {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 20px;
}

.card {
  width: calc(50% - 10px);
  border-radius: 0.7rem;
  color: white;
  padding: 35px 15px 20px;
}

.sim {
  width: 3.5rem;
}

.number {
  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
}

.name {
  font-family: monospace;
  font-size: 1.4rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.visa {
  width: 6.5rem;
  position: relative;
}

.life {
  font-size: 0.6rem;
}

.card-1 {
  background-color: #8e44ad;
}

.card-2 {
  background-color: #009432;
}

.card-3 {
  background-color: #0652dd;
}

.card-4 {
  background-color: #161617;
}
