* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.card-conteiner {
    width: 60%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    position: relative;
    top: 1rem;
}

.card {
    background-color: #8E44AD;
    width: 37%;
    border-radius: 0.7rem;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.sim {
    width: 3.5rem;
    position: relative;
    top: 2rem;
    right: 2%;
}

.number {
    font-size: 1.6rem;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 1.5rem;
}

.name {
    font-family: monospace;
    font-size: 1.4rem;
    position: relative;
    top: 1.5rem;
}

.visa {
    width: 6.5rem;
    position: relative;
    left: 66%;
    top: 1.8rem;
}

.life {
    font-size: 0.6rem;
}

.card-2 {
    background-color: #009432;
}

.card-3 {
    background-color: #0652DD;
}

.card-4 {
    background-color: #161617;
}