* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial;
}

#title {
    text-align: center;
    padding: 1rem;
    color: dodgerblue;
}

.nav-list li {
    display: inline-block;
    padding: 2rem;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

.lead {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1.8rem;
    margin-bottom: 2rem;
}

.card.featured {
    display: inline-block;
    font-size: 1.2rem;
    padding: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 0.6rem;
    background-color: rgb(251, 214, 145);
    margin-bottom: 2rem;
}

.card {
    display: inline-block;
    font-size: 1.2rem;
    padding: 1rem;
    padding-left: 12rem;
    padding-right: 12rem;
    margin-right: 3rem;
    border-radius: 0.6rem;
    background-color: rgb(239, 235, 235);
}
 
li {
    list-style: none;
    display: inline-block;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
}

.menu {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.item {
    background-color: rgb(239, 235, 235);
    border-radius: 0.6rem;
    margin-left: 1rem;
    margin-right: 1rem;;
}

.item.special {
    background-color: rgb(120, 162, 162);
    border-radius: 0.6rem;
    color: aliceblue;
}

.extras {
    text-align: center;
}

.extra-card {
    display: inline-block;
    padding: 1rem;
    background-color: rgb(239, 235, 235);
    padding-left: 19.7em;
    padding-right: 19.7rem;
    border-radius: 0.6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.heading {
    padding: 3rem;
    padding-bottom: 1rem;
}

.special {
    padding: 1rem;
    background-color: rgb(248, 247, 247);
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 0.6rem;
}