* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    background-color: lightgrey;
    height: 100vh;
    display: flex;
    align-items: center;
}

main section {
    width: 90%;
    margin-inline: auto;
    
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;

}

.cards-wrapper {
    display: flex;
    gap: 45px;
}

.card {
    border: 3px solid black;
    border-radius: 5px;
    padding: 50px 30px;
    width: 33%;
    text-align: center;
}

.card i {
    font-size: 80px;
    margin-bottom: 20px;
}

.card-title {
    margin-block: 10px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.card-description {
    font-size: 25px;
    margin-bottom: 40px;
}

.card-btn {
    background-color: black;
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 13px;
    border-radius: 25px;
    font-size: 20px;
    text-transform: uppercase;
}