* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    vertical-align: middle;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.gradient {
    background: linear-gradient(180deg, #4A67FF 16.15%, rgba(140, 44, 237, 0.937746) 51.04%, rgba(250, 34, 241, 0.87) 75.52%);
}

header {
    font-family: "Poppins", sans-serif;
    background-color: #FAD5D5;
    padding-top: 10px;
    padding-bottom: 40px;
}

.conteiner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    margin: 0 auto;
}

.logo {
    display: flex;
    gap: 10px;
}

.svg {
    margin-top: 7px;
}

.title {
    color: #674034;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
}

.grad {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.navigation {
    display: flex;
    gap: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #4F423E;;
}

.navigation .home {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.button-in {
    padding: 11px 33px;
    border-radius: 4px;
    border: 1px solid #EEEEEE;
    background-color: #F5F3F7;
    color: #C9C9C9;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.button-up {
    padding: 11px 29px;
    border-radius: 4px;
    color:#FAD5D5;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    border: none;
}

.button-login {
    display: flex;
    gap: 20px;
}

.shop {
    position: relative;
    right: 20px;
    top: 5px;
}

.shop span {
    position: absolute;
    font-size: 10px;
    font-weight: 500;
    border-radius: 50%;
    color: #FAD5D5;
    padding: 3px 6px;
    right: 0.1px;
}

.section-banner {
    background-color: #FAD5D5;
    padding-top: 7%;
}

.conteiner-banner {
    width: 86%;
    margin: 0 auto;
    position: relative;
} 

.conteiner-banner .text {
    font-family: "Imbue", serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 250%;
    letter-spacing: 4.5%;
    padding-bottom: 40px;
    color: #4F423E;
}

.title-input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
}

.conteiner-banner .text .delivery {
    color: #4A67FF;
}

.conteiner-banner .text .donuts {
   color: #FA22F1DE;
}

.input {
    width: 72%;
    border: 1px solid #FF4A8B4D;
    border-radius: 8px;
    background-color: #FAD5D5;
    padding: 5px;
    position: relative;
}

.input input {
    border: transparent;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8C8787;
    width: 60%;
    outline: none;
    transform: translateY(-15px);
}

.input button {
    border: transparent;
    background-color: transparent;
    padding: 17px 50px;
    border-radius: 8px;
    color: #FAD5D5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    position: absolute;
    right: 5px;
    top: 5px;
}

.input svg {
    margin: 10px 10px 8px 20px ;
}

.rectangle-48 {
    background-color: #FAD5D5;;
    padding-top: 37px;
    padding-bottom: 26px;
}

.rectangle {
    width: 86%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    font-family: "Oswald", sans-serif;   
    font-weight: 500;
    font-size: 55px;      
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FAD5D5;;
}

.rectangle p {
    padding: 25px;
}

.rectangle svg {
    position: relative;
    left: 8%;
}

.frame-2 {
    background-color: #FAD5D5;
    padding-top: 37px;
    padding-bottom: 37px;
}

.rectangle-24 {
    width: 86%;
    margin: 0 auto;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #4A67FF 16.15%, rgba(140, 44, 237, 0.937746) 51.04%, rgba(250, 34, 241, 0.87) 75.52%);
    box-shadow: 0px 0px 8px 0px #FF4EA780;
    position: relative;
}

.rectangle-24 > p {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #674034;
    padding: 40px;
}

.progress-conteiner {
    display: flex;
    justify-content: center;
}

.progress-1 {    
    height: 6px;
    width: 15%;
    box-shadow: 0px 0px 4px 0px #FF4A8BB2;
}

.vector {
    padding-left: 14.5%;
    padding-right: 14.5%;
    padding-bottom: 25px;
}

.content-progress {
    margin-top: 5px;
    margin-bottom: 40px;
    padding-left: 12.5%;
    padding-right: 12.5%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #674034;
}

.vector-2 {
    margin-left: 17.2%;
    margin-right: 9%;
}  

.vector-3 {
    margin-left: 9.5%;
    margin-right: 8%;
}

.vector-4 {
    margin-left: 10.7%;
}

.checklist-1 {
   position: relative;
   bottom: 10px;
}

.order-process {
    margin-right: 6%
}

.payment-process {
    margin-left: 5%;
    margin-right: 5%;
}

.packing-process {
    margin-left: 5%;
    margin-right: 5%;
}

.your-order {
    margin-left: 3%;
    margin-right: 8%;
}

.frame-3 {
    background: linear-gradient(180deg, #fad6d6 0%, #fbdcdd 25%, #fde2e5 50%, #fee8ec 75%, #ffeff4 100%);
}

.frame-3 .text-1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1.2%;
    text-align: center;
    color: #674034;
    padding-top: 50px;
}

.frame-3 .text-2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: 1.2%;
    text-align: center;
    color: #4688FD;
}

.vector-img {
    width: 8%;
    margin: 0 auto;
}

.category-menu {
    width: 86%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 50px;
}

.button-menu {
    display: flex;
    justify-content: space-between;
}

.list {
    text-align: end;
    margin-bottom: 30px;
}

.button-menu span {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    background: linear-gradient(180deg, #4A67FF 16.15%, rgba(140, 44, 237, 0.937746) 51.04%, rgba(250, 34, 241, 0.87) 75.52%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 15px;
}

.button-menu p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 15px;
}

.button-4 {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #FAD5D5;
    display: flex;
    align-items: center;
    border: none;
}

.button-2 {
    padding: 15px 20px;   
    border-radius: 10px;
    background-image: linear-gradient(#fff, #fff), linear-gradient( #9b6bff, #ff78c4);   
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: 2px solid transparent;
    box-shadow: 0 8px 20px rgba(155, 107, 255, 0.12);
    display: flex;
    align-items: center;
    background-color: #FFE5EF;
    cursor: pointer;
}

.button-4-1 {
    padding-left: 25px;
    padding-right: 25px;
}

.button-4-2 {
    padding-left: 30px;
    padding-right: 30px;
}

.button-2-2 {
    padding-left: 32px;
    padding-right: 32px;
}

.rectangle-43 {
    width: 86%;
    margin: 0 auto;
    background: #FAD5D5;
    box-shadow: 0px 0px 6px 0px #FF4A8B80;
    border-radius: 8px;
    display: flex;
}

.rectangle-43 input {
    font-weight: 300;
    font-size: 16px;      
    line-height: 100%;
    letter-spacing: 0%;
    color: #8C8787;
    border: transparent;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    outline: none;
    width: 100%;
}

.rectangle-43 .line-1 {
    padding: 13px;
}

.vector-1 {
    padding-top: 21px;
    padding-left: 14px;
}

.products-conteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 86%;
    margin: 0 auto;
    padding-top: 50px;
    background-color: transparent;
}

.item {
    width: 32.3%;
    background: #FAD5D5;
    border-radius: 10px;
}

.item-x {
    margin-top: 5%;
}

.rectangle-img {
    position: relative;
    padding: 12px;
}

.info-sale {
    position: absolute;
    top: 13px;
    right: 11px;
}

.info-sale div {
    display: inline-block;
}

.info-sale .sale {
    position: absolute;
    top: 13px;
    right: 50px;
}

.info-sale .info {
    box-shadow: 0px 0px 1px 0px #A3A3A340;
}

.rectangle-img img {
    border-radius: 8px;
}

.item-1 {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px 2px 12px;
}

.review {
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}

.clock-location {
    display: flex;
}

.soft-coffe {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;    
    line-height: 100%;
    letter-spacing: 0%;
    color: #4F423E;
    padding-bottom: 4px;
}

.chocalate {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8D8D8D;
    padding-bottom: 4px;
}

.review-1200 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#8D8D8D;
    padding-left: 7px;
}

.min-3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #A5ADBB;
    padding-left: 5px;
    padding-right: 27px;
}

.indonesia {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #A5ADBB;
    padding-left: 5px;
}

.content-right {
    padding-top: 20px;
}

.idr {
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    background: linear-gradient(180deg, #4A67FF 16.15%, rgba(140, 44, 237, 0.937746) 51.04%, rgba(250, 34, 241, 0.87) 75.52%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 5px;
}

.idr-18 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    text-decoration: line-through;
    color: #8D8D8D;
}

.add-too-cart {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #4A67FF 16.15%, rgba(140, 44, 237, 0.937746) 51.04%, rgba(250, 34, 241, 0.87) 75.52%);
    border-radius: 30px;
    position: relative;
    top: 17px;
}

.add-too-cart-2 {
    top: 29px;
}

.add-too-cart button {
    border-radius: 30px;
    border: none;
    padding: 10px 10px 10px 18px;
    background: linear-gradient(180deg, #4A67FF 16.15%, rgba(140, 44, 237, 0.937746) 51.04%, rgba(250, 34, 241, 0.87) 75.52%);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FAD5D5;
    box-shadow: 0px 0px 1px 0px #FF4A8BB2;
}

.add-too-cart .shop {
    position: absolute;
    top: 11px;
    right: 12px;
}

.lead-more {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.lead-more button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border: none;
    padding: 17px 40px;
    background: #EEEEEE;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 149%;
    letter-spacing: 5%;
    text-transform: capitalize;
    color: #8D8D8D;
}

.frame-4 {
    background: #FAD5D5;
}

.testimonials {
    width: 86%;
    margin: 0 auto;
    position: relative;
}

.testimonials .more-than {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1.2%;
    text-align: center;
    color: #674034;
    padding-top: 37px;
}

.testimonials .there-is {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;      
    line-height: 56px;
    letter-spacing: 1.2%;
    text-align: center;
    color: #A5ADBB;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vector-img-2 {
    text-align: center;
}

.vector-img-2 img {
    width: 9%;
}

.group {
    text-align: center;
}

.vector-99 {
    position: absolute;
    right: 7%;
    top: 29%;
}

.doughnuts {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 42.5px;
    letter-spacing: 4%;
    text-align: center;
    text-transform: capitalize;
    color: #8D8D8D;
    position: absolute;
    top: 40%;
    right: 15%;
}

.katty-brocks {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #674034;
    padding-bottom: 10px;
}

.best {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #A5ADBB;
    padding-bottom: 10px;
}

.star {
    text-align: center;
    padding-bottom: 20px;
}

.customer {
    text-align: center;
    padding-bottom: 12px;
}

.dots {
    text-align: center;
    padding-bottom: 37px;
}

.footer-menu {
    display: flex;
    justify-content: space-evenly;
    background: #FAD5D5;
    padding-top: 5%;
    padding-bottom: 10%;
    border-top: 1px solid #FFE5EF;
    border-bottom: 1px solid #FFE5EF;
}

.footer-menu p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8D8D8D;
    padding-bottom: 17px;
}

.footer-menu .explore {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4F423E;
    padding-bottom: 24px;
}

.description {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 90%;
    text-align: center;
    color: #8D8D8D;
    width: 20%;
}

.description img {
    width: 40%;
    padding-bottom: 15px;
}

.footer-copyright {
    background: #FAD5D5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #4A4F60;
}

.footer-copyright p {
    padding-top: 29px;
    padding-bottom: 29px;
}
