* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f3ecd5;
}

.container {
    width: 33%;
    margin: 50px auto;
    background: #162716;
    padding: 30px;
    border-radius: 15px;
    color: white;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.add-btn {
    background: #2ecc71;
    color: white;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.edit {
    color: #00ffae;
    background: transparent;
}

.complete {
    color: orange;
    background: transparent;
}

.delete {
    color: red;
    background: transparent;
}