* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
}

main section {
    width: 75%;
    margin-inline: auto;
}

.title h2 {
    margin-bottom: 20px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 320px;
    margin-right: 320px;
    font-size: 20px;
}

.cards-wrapper {
    display: flex;
    gap: 20px;
}

.abc {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(208, 206, 206);
}

.img-icon {
    height: 40px;
    border-radius: 50%;
}

.name {
    margin-top: 10px;
    margin-right: 30px;
}

.heart-comment {
    margin-right: 15px;
    margin-top: 10px;
}

.heart-comment .dec {
    padding: 10px;
}

.card-description {
    margin-right: 5px;
}
