* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo {
    width: 5%;
}

.top-header {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    background-color: teal;
    position: relative;
}

.shopping-card {
   width: 5%;
   color: white;
   background-color:black ;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 1.5rem;
   font-size: 1rem;
}

.top-header h5 {
    padding: 1px 6px;
    top: 1.3rem;
    right: 1.5rem;
    color: black;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header a {
    color: white;
    transition: 1s;
}

header a:hover {
    color: teal;
    text-decoration: underline;
}

main {
    height: 100vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.conteiner {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    padding: 0.3rem;
    border: 2px solid teal;
    border-radius: 10px;
    gap: 5px;
    transition: 0.7s;
}

.card:hover {
    box-shadow: black 0px 0px 10px;
}

img {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    color:teal;
}

.card p {
    font-size: 20px;
}

footer {
    background-color: teal;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    font-size: 1.5rem;
}

.scroll {
    position: fixed;
    right: 3%;
    top: 85%;
    z-index: 8888;
}

.fa-circle-chevron-up {
    color: teal;
    font-size: 3rem;
    border-radius: 50%;
}