* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    height: 100vh;
    background-image: url(./login-bg.png);
    background-size: cover ;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    flex-wrap: wrap;
    width: 23%;
    gap: 1rem;
    padding: 2rem;
    backdrop-filter: blur(8px);
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 10px;   
    color: rgb(237, 227, 227);
}

.title {
    margin-bottom: 15px;
    font-size: 30px;
}

form input, button {
    width: 100%;
}

.checkbox {
    width: 100%;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    padding: 10px;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
}

button {
    padding: 15px;
    border: none;
    border-radius: 1rem;
    font-size: 15px;
}

form input[type="checkbox"] {
    width: auto;
}

.help {
    font-size: 13px;
}

.email {
    width: 100%;
    display: flex;
    border: solid 1px white;
    padding: 5px;
    border-radius: 1rem;
}

.fa-solid {
    padding-right: 25px;
    padding-top: 10px;
    padding-left: 10px;
}

.password {
    width: 100%;
    display: flex;
    border: solid 1px white;
    padding: 5px;
    border-radius: 1rem;
}

.checkbox a, .help a {
    font-weight: 700;
}